h4 {
    color: black;
    
}


#five-day-box {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    
    width: 80%;
    
}
#right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
}


main {
    display: flex;
    flex-wrap: wrap;
}
#old-inputs {
    width: 40%;
}
#top-row {
    display: flex;
    flex-wrap: wrap;
}