h4 {
    color: black;
    
}


.forecast {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    
    
    
}
#right-side {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}


main {
    display: flex;
    flex-wrap: wrap;
}
#old-inputs {
    width: 40%;
}
#top-row {
    display: flex;
    flex-wrap: wrap;
}